includes:
    - ./vendor/phpstan/phpstan/conf/config.levelmax.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    ignoreErrors:
        - /class-string/
        - /\\class/
        - /T::class/
        - "/^Variable static method call on string.$/"
        - "/^Property SignpostMarv\\\\DaftInterfaceCollector\\\\StaticMethodCollector::\\$(?:processedSources|staticMethods) has no typehint specified.$/"
